.board {
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	justify-content: space-evenly;
	flex-direction: row;
	gap: 1rem;
	width: 90%;
	margin: auto;
	height: 800px;
	background: red;
	overflow-y: hidden;
}

.title {
	margin: auto;
	width: 20%;
	text-align: center;
}

.category__header {
	width: auto;
	text-align: center;
	padding-block: 2rem;
	display: grid;
	flex-direction: column;
	gap: 2rem;
	grid-template-rows: repeat(6, 1fr);
}
.clues {
	color: green;
}
* {
	outline: 1px solid black;
}
